.topBtn {
	margin-right: 5px;
}
#infoBtn {
	
}
.logGroup {
	background-color: #232424;
}
.logGroup:nth-child(odd) {
	background-color: #272828;
}
.logEntry {
	width: 100%;
	height: 40px;
	overflow: hidden;
}
.logTime {
	font-size: 12px;
}
.logMessage {
	font-size: 16px;
}
.logTrace {
	font-size: 12px;
}
#infoEntryTemplate {
	visibility: hidden;
}
#warnEntryTemplate {
	visibility: hidden;
}
#errorEntryTemplate {
	visibility: hidden;
}