#contextMenu {
	width: 150px;
	background-color: #313232;
	border: 1px solid white;
}
.entry {
	width: 148px;
	height: 16px;
	font-size: 12px;
	color: white;
	line-height: 16px;
	background-color: #1f1f1f;
}
.entry:hover {
	background-color: #313232;
}