.entry {
	width: 100%;
	height: 24px;
	color: white;
	background-color: #1f1f1f;
	line-height: 24px;
}
.entry:hover {
	background-color: #313232;
}
.arrow {
	height: 24px;
	text-align: center;
}
.indent {
	width: 10px;
}
.searchInput {
	width: 100%;
	height: 32px;
}
#searchInput {
	width: 100%;
	height: 100%;
}
