#tcLeft {
	left: 0;
	width: 20%;
	height: 100%;
}
#tcTop {
	left: 20%;
	top: 0;
	height: 20%;
	width: 60%
}
#tcRight {
	right: 0;
	width: 20%;
	height: 100%;
}
#tcBottom {
	left: 20%;
	bottom: 0;
	height: 20%;
	width: 60%
}
#tcCenter {
	left: 20%;
	top: 20%;
	height: 60%;
	width: 60%
}
.snapArea {
	position: absolute;
	border: 1px solid blue;
	text-align: center;
	color: white;
	background-color: #003;
	vertical-align: middle;
	visibility: hidden;
}
.snapArea:hover {
	background-color: #004;
}
.snapLabel {
	width: 100%;
	top: 50%;
	transform: translateY(-50%);
}
.tabs {
	width: 100%;
	height: 20px;
	overflow-x: scroll;
	overflow-y: hidden;
}
.tab {
	width: 66px;
	height: 20px;
	padding-left: 2px;
	background-image: url("content/textures/window_tab.png");
	image-rendering: pixelated;
	background-color: #1f1f1f;
}
.tabsInner {
	width: 1000%;
	height: 20px;
	background-color: black;
}
.tab:hover {
	background-image: url("content/textures/window_tab_hover.png");
}
#tabContent {
	width: 100%;
	height: 100%;
	color: white;
	background-color: #1f1f1f;
}
