{{define "tabs"}}
<div class="tabs">
	<div id="tabsInner" class="tabsInner" ondragenter="tabDragEnterRoot" ondragleave="tabDragLeaveRoot" ondrop="tabDropRoot">
	{{range .Tabs}}
		<div id="{{.Id}}" group="tabGroup" class="tab" onclick="tabClick" ondragstart="tabDragStart" ondragenter="tabDragEnter" ondragleave="tabDragLeave" ondrop="tabDrop" ondragend="tabDragEnd">{{.Label}}</div>
	{{end}}
	</div>
</div>
<div id="tabContent"></div>
{{end}}

{{define "snapAreas"}}
<!--
<div class="snapAreas">
	<div id="tcLeft" class="snapArea" group="snapArea"><div class="snapLabel">Snap left</div></div>
	<div id="tcTop" class="snapArea" group="snapArea"><div class="snapLabel">Snap top</div></div>
	<div id="tcRight" class="snapArea" group="snapArea"><div class="snapLabel">Snap right</div></div>
	<div id="tcBottom" class="snapArea" group="snapArea"><div class="snapLabel">Snap bottom</div></div>
	<div id="tcCenter" class="snapArea" group="snapArea"><div class="snapLabel">Add to this group</div></div>
</div>
-->
{{end}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/tab_container/tab_container.css">
	</head>
	<body>
		{{if eq .Snap "left"}}
		<div id="window" class="fillLeft darkBG clip z1">
			<div class="fillLeftRightContent">
				{{template "tabs" .}}
				{{template "snapAreas" .}}
			</div>
			<div class="fillLeftRightResizeHandle" onmouseenter="resizeHover" onmouseleave="resizeExit" ondragstart="resizeStart" ondragend="resizeStop"></div>
		</div>
		{{else if eq .Snap "right"}}
		<div id="window" class="fillRight darkBG noClipY z1">
			<div class="fillLeftRightResizeHandle" onmouseenter="resizeHover" onmouseleave="resizeExit" ondragstart="resizeStart" ondragend="resizeStop"></div>
			<div class="fillLeftRightContent noClipY">
				{{template "tabs" .}}
				{{template "snapAreas" .}}
			</div>
		</div>
		{{else if eq .Snap "bottom"}}
		<div id="window" class="fillBottom darkBG clip z4">
			<div class="fillBottomResizeHandle" onmouseenter="resizeHover" onmouseleave="resizeExit" ondragstart="resizeStart" ondragend="resizeStop"></div>
			<div class="fillBottomContent">
				{{template "tabs" .}}
				{{template "snapAreas" .}}
			</div>
		</div>
		{{else}}
		<div id="window" class="fill darkBG clip">
			{{template "tabs" .}}
			{{template "snapAreas" .}}
		</div>
		{{end}}
	</body>
</html>