{{define "tab"}}

{{end}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/tab_container/tab_container.css">
	</head>
	<body>
		<div class="fill darkBG clip">
			<div class="tabs">
				<div class="tabsInner" ondragenter="tabDragEnterRoot" ondragleave="tabDragLeaveRoot" ondrop="tabDropRoot">
				{{range .Tabs}}
					<div id="{{.Id}}" class="tab" onclick="tabClick" ondragstart="tabDragStart" ondragenter="tabDragEnter" ondragleave="tabDragLeave" ondrop="tabDrop" ondragend="tabDragEnd">{{.Label}}</div>
				{{end}}
				</div>
			</div>
			<div id="tabContent"></div>
			<div class="snapAreas">
				<div id="tcLeft" class="snapArea" group="snapArea"><div class="snapLabel">Snap left</div></div>
				<div id="tcTop" class="snapArea" group="snapArea"><div class="snapLabel">Snap top</div></div>
				<div id="tcRight" class="snapArea" group="snapArea"><div class="snapLabel">Snap right</div></div>
				<div id="tcBottom" class="snapArea" group="snapArea"><div class="snapLabel">Snap bottom</div></div>
				<div id="tcCenter" class="snapArea" group="snapArea"><div class="snapLabel">Add to this group</div></div>
			</div>
		</div>
	</body>
</html>