body {
	width: 100%;
	height: 100%;
	color: black;
}
a:link {
	color: blue;
	text-decoration: underline;
	cursor: auto;
}
a:visited {
	color: orange;
	text-decoration: underline;
	cursor: auto;
}
a:link:active {
	color: lightblue;
}
a:visited:active {
	color: lightcoral;
}
address {
	display: block;
	font-style: italic;
}
area {
	display: none;
}
article {
	display: block;
}
aside {
	display: block;
}
b {
	font-weight: bold;
}
bdo {
	unicode-bidi: bidi-override;
}
blockquote {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}
body {
	display: block;
	margin: 8px;
}
body:focus {
	outline: none;
}
caption {
	display: table-caption;
	text-align: center;
}
cite {
	font-style: italic;
}
code {
	font-family: monospace;
}
col {
	display: table-column;
}
colgroup {
	display: table-column-group;
}
datalist {
	display: none;
}
dd {
	display: block;
	margin-left: 40px;
}
del {
	text-decoration: line-through;
}
details {
	display: block;
}
dfn {
	font-style: italic;
}
div {
	display: block;
	width: 100%;
}
dl {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
dt {
	display: block;
}
span {
	overflow: visible;
}
em {
	font-style: italic;
}
embed:focus {
	outline: none;
}
fieldset {
	display: block;
	margin-left: 2px;
	margin-right: 2px;
	padding-top: 0.35em;
	padding-bottom: 0.625em;
	padding-left: 0.75em;
	padding-right: 0.75em;
	border: 2px groove blue;
}
figcaption {
	display: block;
}
figure {
	display: block;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 40px;
	margin-right: 40px;
}
footer {
	display: block;
}
form {
	display: block;
	margin-top: 0em;
}
h1 {
	display: block;
	font-size: 2em;
	margin-top: 0.67em;
	margin-bottom: 0.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	/* Kaiju custom settings */
	width: 100%;
}
h2 {
	display: block;
	font-size: 1.5em;
	margin-top: 0.83em;
	margin-bottom: 0.83em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	width: 100%;
}
h3 {
	display: block;
	font-size: 1.17em;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	width: 100%;
}
h4 {
	display: block;
	margin-top: 1.33em;
	margin-bottom: 1.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	width: 100%;
}
h5 {
	display: block;
	font-size: .83em;
	margin-top: 1.67em;
	margin-bottom: 1.67em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	width: 100%;
}
h6 {
	display: block;
	font-size: .67em;
	margin-top: 2.33em;
	margin-bottom: 2.33em;
	margin-left: 0;
	margin-right: 0;
	font-weight: bold;
	width: 100%;
}
head {
	display: none;
}
header {
	display: block;
}
br, hr {
	width: 100%;
	height: 1px;
	display: block;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
}
hr {
	background-color: black;
}
html {
	display: block;
}
html:focus {
	outline: none;
}
i {
	font-style: italic;
}
iframe:focus {
	outline: none;
}
iframe[seamless] {
	display: block;
}
img {
	display: inline-block;
}
ins {
	text-decoration: underline;
}
kbd {
	font-family: monospace;
}
label {
	cursor: default;
}
legend {
	display: block;
	padding-left: 2px;
	padding-right: 2px;
	border: none;
}
li {
	display: list-item;
}
link {
	display: none;
}
map {
	display: inline;
}
mark {
	background-color: yellow;
	color: black;
}
menu {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
nav {display: block;
}
object:focus {
	outline: none;
}
ol {
	display: block;
	list-style-type: decimal;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
output {
	display: inline;
}
p {
	display: block;
	width: 100%;
	margin-top: 1em;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
}
param {
	display: none;
}
pre {
	display: block;
	font-family: monospace;
	white-space: pre;
	margin: 1em 0;
}
q {
	display: inline;
}
q::before {
	content: open-quote;
}
q::after {
	content: close-quote;
}
rt {
	line-height: normal;
}
s {
	text-decoration: line-through;
}
samp {
	font-family: monospace;
}
script {
	display: none;
}
section {
	display: block;
}
small {
	font-size: smaller;
}
strike {
	text-decoration: line-through;
}
strong {
	font-weight: bold;
}
style {
	display: none;
}
sub {
	vertical-align: sub;
	font-size: smaller;
}
summary {
	display: block;
}
sup {
	vertical-align: super;
	font-size: smaller;
}
table {
	display: table;
	border-collapse: separate;
	border-spacing: 2px;
	border-color: gray;
}
tbody {
	display: table-row-group;
	vertical-align: middle;
	border-color: inherit;
}
td {
	display: table-cell;
	vertical-align: inherit;
}
tfoot {
	display: table-footer-group;
	vertical-align: middle;
	border-color: inherit;
}
th {
	display: table-cell;
	vertical-align: inherit;
	font-weight: bold;
	text-align: center;
}
thead {
	display: table-header-group;
	vertical-align: middle;
	border-color: inherit;
}
title {display: none;
}
tr {
	display: table-row;
	vertical-align: inherit;
	border-color: inherit;
}
u {
	text-decoration: underline;
}
ul {
	display: block;
	list-style-type: disc;
	margin-top: 1em;
	margin-bottom: 1 em;
	margin-left: 0;
	margin-right: 0;
	padding-left: 40px;
}
var {
	font-style: italic; 
}
button {
	padding: 5px 10px 5px 10px;
	font-size: 16px;
	text-align: center;
	vertical-align: middle;
	overflow: hidden;
	/* background-color: #20222A;
	border: 2px solid #292C34; */
	/* border-radius: 7px; */
	background-color: #282828;
	background-image: url("editor/textures/button_idle.png");
}
button:hover {
	/* background-color: #721e21;
	border: 2px solid #a72a2f; */
	background-color: #575757;
	background-image: url("editor/textures/button_hover.png");
}
button:active {
	padding: 10px 10px 0px 10px;
	/* background-color: #611a1c;
	border: 2px solid #8d2528; */
	background-image: url("editor/textures/button_down.png");
}
/** Unconventional helpers **/
.centerText { text-align: center; }

/** EDITOR STYLES **/
input[type="text"] {
	color: black;
	background-color: #BBB;
	border: 2px solid black;
}
.filterBtn {
	padding: 2px 5px;
	background-color: #20222A;
	border: 2px solid #292C34;
	border-radius: 12px;
	color: #AAA;
	font-size: 1em;
	margin-right: 0.5em;
	margin-bottom: 0.25em;
}
.filterBtn:hover {
	color: white;
	background-color: #8b373c;
	border-color: #a52222;
}
.filterBtn:active {
	background-color: #542326;
	border-color: #6a1919;
}
.filterBtn img {
	width: 1em;
	height: 1em;
	background-color: #1D731C;
	margin-right: 5px;
}
.filterBtnSelected {
	background-color: #682A2D;
	border-color: #881E1E;
	color: white;
}
.edPanelBg {
	background-color: #1C1E25;
}
.edPanelBgDark {
	background-color: #181A20;
}
.edPanelBgHoverable {
	color: #AAA;
	background-color: #1C1E25;
}
.edPanelBgHoverable:hover {
	color: white;
	background-color: #2a2d38;
}
.edPanelBgHoverable .selected {
	color: white;
	background-color: #2a2d38;
}
