{{define "flags"}}
	<div class="inputFlags lightDarkBG">
		{{range $_, $k := .List}}
			<div class="checkboxListEntry">
				<input name="{{$k}}" data-path="{{$.Path}}" class="inputCheck" type="checkbox" {{if ($.Has $k)}}checked="checked"{{end}} onchange="valueChanged" />
				<span class="inputCheckLabel">{{$k}}</span>
			</div>
		{{end}}
	</div>
{{end}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/shader_designer/shader_designer.css">
	</head>
	<body>
		<div class="fill darkBG noClipY pad5">
			<div class="menuBar">
				<span class="menuBarItem" onclick="returnHome">Home</span>
			</div>
			<div class="topFields">
				<h1>Render Pass Editor</h1>
				<div class="inputItem">
					<div class="inputLabel">Name:</div>
					<input id="Name" class="input" type="text" value="{{.Name}}" onchange="nameChanged" />
				</div>

				<!-- vkAttachmentDescription -->
				<h3>Attachment Descriptions</h3>
				<div class="inputItem">
					<button class="inputButton" onclick="addAttachmentDescription">Add attachment description</button>
				</div>
				{{range $i, $a := .AttachmentDescriptions}}
					<h4>AttachmentDescription[{{$i}}]</h4>
					<div class="inputItem">
						<button data-index="{{$i}}" class="inputButton" onclick="deleteAttachmentDescription">Delete attachment description</button>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="Format" onmouseenter="showTooltip">Format:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.Format" class="input" value="{{.Format}}" onchange="valueChanged">
							{{range $_, $k := .ListFormat}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="Samples" onmouseenter="showTooltip">Samples:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.Samples" class="input" value="{{.Samples}}" onchange="valueChanged">
							{{range $_, $k := .ListSamples}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<!-- IMAGE BEGIN -->
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="MipLevels" onmouseenter="showTooltip">Mip Levels:</div>
						<input data-path="AttachmentDescriptions.{{$i}}.Image.MipLevels" class="input" type="text" value="{{.Image.MipLevels}}" onchange="valueChanged" />
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="LayerCount" onmouseenter="showTooltip">Layer Count:</div>
						<input data-path="AttachmentDescriptions.{{$i}}.Image.LayerCount" class="input" type="text" value="{{.Image.LayerCount}}" onchange="valueChanged" />
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="Tiling" onmouseenter="showTooltip">Tiling:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.Image.Tiling" class="input" value="{{.Image.Tiling}}" onchange="valueChanged">
							{{range $_, $k := .Image.ListTiling}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="Filter" onmouseenter="showTooltip">Filter:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.Image.Filter" class="input" value="{{.Image.Filter}}" onchange="valueChanged">
							{{range $_, $k := .Image.ListFilter}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="Usage" onmouseenter="showTooltip">Usage:</div>
						{{template "flags" ($.UsageFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="MemoryProperty" onmouseenter="showTooltip">Memory Property:</div>
						{{template "flags" ($.MemoryPropertyFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="Aspect" onmouseenter="showTooltip">Aspect:</div>
						{{template "flags" ($.AspectFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="Access" onmouseenter="showTooltip">Access:</div>
						{{template "flags" ($.AccessFlagState $i $a)}}
					</div>
					<!-- IMAGE END -->
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="LoadOp" onmouseenter="showTooltip">Load Op:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.LoadOp" class="input" value="{{.LoadOp}}" onchange="valueChanged">
							{{range $_, $k := .ListLoadOp}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="StoreOp" onmouseenter="showTooltip">Store Op:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.StoreOp" class="input" value="{{.StoreOp}}" onchange="valueChanged">
							{{range $_, $k := .ListStoreOp}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="StencilLoadOp" onmouseenter="showTooltip">Stencil Load Op:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.StencilLoadOp" class="input" value="{{.StencilLoadOp}}" onchange="valueChanged">
							{{range $_, $k := .ListStencilLoadOp}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="StencilStoreOp" onmouseenter="showTooltip">Stencil Store Op:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.StencilStoreOp" class="input" value="{{.StencilStoreOp}}" onchange="valueChanged">
							{{range $_, $k := .ListStencilStoreOp}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="InitialLayout" onmouseenter="showTooltip">Initial Layout:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.InitialLayout" class="input" value="{{.InitialLayout}}" onchange="valueChanged">
							{{range $_, $k := .ListInitialLayout}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="FinalLayout" onmouseenter="showTooltip">Final Layout:</div>
						<select data-path="AttachmentDescriptions.{{$i}}.FinalLayout" class="input" value="{{.FinalLayout}}" onchange="valueChanged">
							{{range $_, $k := .ListFinalLayout}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
				{{end}}

				<!-- vkSubpassDescription -->
				<h3>Subpass Descriptions</h3>
				<div class="inputItem">
					<button class="inputButton" onclick="addSubpassDescription">Add attachment description</button>
				</div>
				{{range $i, $s := .SubpassDescriptions}}
					<h4>SubpassDescription[{{$i}}]</h4>
					<div class="inputItem">
						<button data-index="{{$i}}" class="inputButton" onclick="deleteSubpassDescription">Delete subpass description</button>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="PipelineBindPoint" onmouseenter="showTooltip">Pipeline Bind Point:</div>
						<select data-path="SubpassDescriptions.{{$i}}.PipelineBindPoint" class="input" value="{{.PipelineBindPoint}}" onchange="valueChanged">
							{{range $_, $k := .ListPipelineBindPoint}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>
					<h5>SubpassDescription[{{$i}}] Color References</h5>
					<div class="inputItem">
						<button class="inputButton" data-index="{{$i}}" onclick="addSubpassDescriptionColorRef">Add color reference</button>
					</div>
					{{range $j, $r := .ColorAttachmentReferences}}
						<h5 data-tooltip="ColorAttachments" onmouseenter="showTooltip">Color Reference[{{$j}}]</h5>
						<div class="inputItem">
							<button data-index="{{$i}}" data-subindex="{{$j}}" class="inputButton" onclick="deleteSubpassDescriptionColorRef">Delete color reference</button>
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Attachment" onmouseenter="showTooltip">Attachment:</div>
							<input data-path="SubpassDescriptions.{{$i}}.ColorAttachmentReferences.{{$j}}.Attachment" class="input" type="text" value="{{.Attachment}}" onchange="valueChanged" />
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Layout" onmouseenter="showTooltip">Layout:</div>
							<select data-path="SubpassDescriptions.{{$i}}.ColorAttachmentReferences.{{$j}}.Layout" class="input" value="{{.Layout}}" onchange="valueChanged">
								{{range $_, $k := .ListLayout}}
									<option value="{{$k}}">{{$k}}</option>
								{{end}}
							</select>
						</div>
					{{end}}
					<h5 data-tooltip="InputAttachments" onmouseenter="showTooltip">SubpassDescription[{{$i}}] Input References</h5>
					<div class="inputItem">
						<button class="inputButton" data-index="{{$i}}" onclick="addSubpassDescriptionInputRef">Add input reference</button>
					</div>
					{{range $j, $r := .InputAttachmentReferences}}
						<h5>Input Reference[{{$j}}]</h5>
						<div class="inputItem">
							<button data-index="{{$i}}" data-subindex="{{$j}}" class="inputButton" onclick="deleteSubpassDescriptionInputRef">Delete input reference</button>
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Attachment" onmouseenter="showTooltip">Attachment:</div>
							<input data-path="SubpassDescriptions.{{$i}}.InputAttachmentReferences.{{$j}}.Attachment" class="input" type="text" value="{{.Attachment}}" onchange="valueChanged" />
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Layout" onmouseenter="showTooltip">Layout:</div>
							<select data-path="SubpassDescriptions.{{$i}}.InputAttachmentReferences.{{$j}}.Layout" class="input" value="{{.Layout}}" onchange="valueChanged">
								{{range $_, $k := .ListLayout}}
									<option value="{{$k}}">{{$k}}</option>
								{{end}}
							</select>
						</div>
					{{end}}
					<h5 data-tooltip="ResolveAttachments" onmouseenter="showTooltip">SubpassDescription[{{$i}}] Resolve References</h5>
					<div class="inputItem">
						<button class="inputButton" data-index="{{$i}}" onclick="addSubpassDescriptionResolveRef">Add resolve reference</button>
					</div>
					{{range $j, $r := .ResolveAttachments}}
						<h5>Resolve Reference[{{$j}}]</h5>
						<div class="inputItem">
							<button data-index="{{$i}}" data-subindex="{{$j}}" class="inputButton" onclick="deleteSubpassDescriptionResolveRef">Delete resolve reference</button>
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Attachment" onmouseenter="showTooltip">Attachment:</div>
							<input data-path="SubpassDescriptions.{{$i}}.ResolveAttachments.{{$j}}.Attachment" class="input" type="text" value="{{.Attachment}}" onchange="valueChanged" />
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Layout" onmouseenter="showTooltip">Layout:</div>
							<select data-path="SubpassDescriptions.{{$i}}.ResolveAttachments.{{$j}}.Layout" class="input" value="{{.Layout}}" onchange="valueChanged">
								{{range $_, $k := .ListLayout}}
									<option value="{{$k}}">{{$k}}</option>
								{{end}}
							</select>
						</div>
					{{end}}
					<h5 data-tooltip="DepthStencilAttachment" onmouseenter="showTooltip">SubpassDescription[{{$i}}] Depth Stencil References</h5>
					<div class="inputItem">
						<button class="inputButton" data-index="{{$i}}" onclick="addSubpassDescriptionDepthStencilRefs">Add depth stencil reference</button>
					</div>
					{{range $j, $r := .DepthStencilAttachment}}
						<h5>Depth Stencil Reference[{{$j}}]</h5>
						<div class="inputItem">
							<button data-index="{{$i}}" data-subindex="{{$j}}" class="inputButton" onclick="deleteSubpassDescriptionDepthStencilRef">Delete depth stencil reference</button>
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Attachment" onmouseenter="showTooltip">Attachment:</div>
							<input data-path="SubpassDescriptions.{{$i}}.DepthStencilAttachment.{{$j}}.Attachment" class="input" type="text" value="{{.Attachment}}" onchange="valueChanged" />
						</div>
						<div class="inputItem">
							<div class="inputLabel" data-tooltip="Layout" onmouseenter="showTooltip">Layout:</div>
							<select data-path="SubpassDescriptions.{{$i}}.DepthStencilAttachment.{{$j}}.Layout" class="input" value="{{.Layout}}" onchange="valueChanged">
								{{range $_, $k := .ListLayout}}
									<option value="{{$k}}">{{$k}}</option>
								{{end}}
							</select>
						</div>
					{{end}}
				{{end}}

				<!-- vkSubpassDependency -->
				<h3>Subpass Dependencies</h3>
				<div class="inputItem">
					<button class="inputButton" onclick="addSubpassDependency">Add supbass dependency</button>
				</div>
				{{range $i, $a := .SubpassDependencies}}
					<h4>SubpassDependency[{{$i}}]</h4>
					<div class="inputItem">
						<button data-index="{{$i}}" class="inputButton" onclick="deleteSubpassDependency">Delete subpass dependency</button>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="SrcSubpass" onmouseenter="showTooltip">Src Subpass:</div>
						<input data-path="SubpassDependencies.{{$i}}.SrcSubpass" class="input" type="text" value="{{.SrcSubpass}}" onchange="valueChanged" />
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="DstSubpass" onmouseenter="showTooltip">Dst Subpass:</div>
						<input data-path="SubpassDependencies.{{$i}}.DstSubpass" class="input" type="text" value="{{.DstSubpass}}" onchange="valueChanged" />
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="SrcStageMask" onmouseenter="showTooltip">Src Stage Mask:</div>
						{{template "flags" ($.SrcStageMaskFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="DstStageMask" onmouseenter="showTooltip">Dst Stage Mask:</div>
						{{template "flags" ($.DstStageMaskFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="SrcAccessMask" onmouseenter="showTooltip">Src Access Mask:</div>
						{{template "flags" ($.SrcAccessMaskFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="DstAccessMask" onmouseenter="showTooltip">Dst Access Mask:</div>
						{{template "flags" ($.DstAccessMaskFlagState $i $a)}}
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="DependencyFlags" onmouseenter="showTooltip">Dependency Flags:</div>
						{{template "flags" ($.DependencyFlagsState $i $a)}}
					</div>
				{{end}}
				<button class="inputButtonWide" onclick="saveRenderPass">Save</button>
			</div>
			<div id="ToolTip" class="bottomTooltip">tooltip</div>
		</div>
	</body>
</html>