<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/shader_designer/shader_designer.css">
	</head>
	<body>
		<div class="fill darkBG noClipY pad5">
			<div class="topFields">
				<h1>Render Pass Editor</h1>
				<div class="inputItem">
					<div class="inputLabel">Name:</div>
					<input id="Name" class="input" type="text" value="{{.Name}}" onchange="nameChanged" />
				</div>

				<!-- vkAttachmentDescription -->
				<h3>Attachment Descriptions</h3>
				{{range $i, $a := .AttachmentDescriptions}}
					<h4>AttachmentDescription[{{$i}}]</h4>
					
				{{end}}

				<!-- vkSubpassDescription -->
				<h3>Subpass Descriptions</h3>
				{{range $i, $s := .SubpassDescriptions}}
					<h4>SubpassDescription[{{$i}}]</h4>
					<div class="inputItem" onmouseenter="showTooltip">
						<div class="inputLabel">Pipeline Bind Point:</div>
						<select id="PipelineBindPoint" class="input" value="{{.PipelineBindPoint}}" onchange="valueChanged">
							{{range $_, $k := .ListPipelineBindPoint}}
								<option value="{{$k}}">{{$k}}</option>
							{{end}}
						</select>
					</div>

					<!-- vkAttachmentReference -->
					{{range $j, $r := .AttachmentReferences}}
					<h4>AttachmentReference[{{$j}}]</h4>

					{{end}}
				{{end}}

				<!-- vkSubpassDependency -->
				{{range $i, $a := .SubpassDependencies}}
				<h4>SubpassDependenc[{{$i}}]</h4>

				{{end}}
			</div>
			<div id="ToolTip" class="bottomTooltip">tooltip</div>
		</div>
	</body>
</html>