{{define "flags"}}
	<div class="inputFlags lightDarkBG">
		{{range $_, $k := .List}}
			<div class="checkboxListEntry">
				<input name="{{$k}}" data-path="{{$.Path}}" class="inputCheck" type="checkbox" {{if ($.Has $k)}}checked="checked"{{end}} onchange="valueChanged" />
				<span class="inputCheckLabel">{{$k}}</span>
			</div>
		{{end}}
	</div>
{{end}}

<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/shader_designer/shader_designer.css">
	</head>
	<body>
		<div class="fill darkBG noClipY pad5">
			<div class="menuBar">
				<span onclick="returnHome">Home</span>
			</div>
			<div class="topFields">
				<h1>Shader Pipeline Editor</h1>
				<div class="inputItem">
					<div class="inputLabel">Name:</div>
					<input id="Name" class="input" type="text" value="{{.Name}}" onchange="nameChanged" />
				</div>

				<!-- vkPipelineInputAssemblyStateCreateInfo -->
				<hr/>
				<h3>Pipeline InputAssembly</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="Topology" onmouseenter="showTooltip">Topology:</div>
					<select data-path="Topology" class="input" value="{{.Topology}}" onchange="valueChanged">
					{{range $_, $k := .ListTopology}}
						<option value="{{$k}}">{{$k}}</option>
					{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="PrimitiveRestart" onmouseenter="showTooltip">Primitive Restart:</div>
					<input data-path="PrimitiveRestart" class="inputCheck" type="checkbox" {{if .PrimitiveRestart}}checked="checked"{{end}} onchange="valueChanged" />
				</div>

				<!-- vkPipelineRasterizationStateCreateInfo -->
				<hr/>
				<h3>Pipeline Rasterization</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthClampEnable" onmouseenter="showTooltip">Depth Clamp:</div>
					<input data-path="DepthClampEnable" class="inputCheck" type="checkbox" {{if .DepthClampEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="RasterizerDiscardEnable" onmouseenter="showTooltip">Rasterizer Discard:</div>
					<input data-path="RasterizerDiscardEnable" class="inputCheck" type="checkbox" {{if .RasterizerDiscardEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="PolygonMode" onmouseenter="showTooltip">Polygon Mode:</div>
					<select data-path="PolygonMode" class="input" value="{{.PolygonMode}}" onchange="valueChanged">
					{{range $_, $k := .ListPolygonMode}}
						<option value="{{$k}}">{{$k}}</option>
					{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="CullMode" onmouseenter="showTooltip">Cull Mode:</div>
					<select data-path="CullMode" class="input" value="{{.CullMode}}" onchange="valueChanged">
					{{range $_, $k := .ListCullMode}}
						<option value="{{$k}}">{{$k}}</option>
					{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="FrontFace" onmouseenter="showTooltip">Front Face:</div>
					<select data-path="FrontFace" class="input" value="{{.FrontFace}}" onchange="valueChanged">
					{{range $_, $k := .ListFrontFace}}
						<option value="{{$k}}">{{$k}}</option>
					{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthBiasEnable" onmouseenter="showTooltip">Depth Bias:</div>
					<input data-path="DepthBiasEnable" class="inputCheck" type="checkbox" {{if .DepthBiasEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthBiasConstantFactor" onmouseenter="showTooltip">Depth Bias Constant Factor:</div>
					<input data-path="DepthBiasConstantFactor" class="input" type="text" value="{{.DepthBiasConstantFactor}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthBiasClamp" onmouseenter="showTooltip">Depth Bias Clamp:</div>
					<input data-path="DepthBiasClamp" class="input" type="text" value="{{.DepthBiasClamp}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthBiasSlopeFactor" onmouseenter="showTooltip">Depth Bias Slope Factor:</div>
					<input data-path="DepthBiasSlopeFactor" class="input" type="text" value="{{.DepthBiasSlopeFactor}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="LineWidth" onmouseenter="showTooltip">Line Width:</div>
					<input data-path="LineWidth" class="input" type="text" value="{{.LineWidth}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineMultisampleStateCreateInfo -->
				<hr/>
				<h3>Pipeline Multisample</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="RasterizationSamples" onmouseenter="showTooltip">Rasterization Samples:</div>
					<select data-path="RasterizationSamples" class="input" value="{{.RasterizationSamples}}" onchange="valueChanged">
					{{range $_, $k := .ListRasterizationSamples}}
						<option value="{{$k}}">{{$k}}</option>
					{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="SampleShadingEnable" onmouseenter="showTooltip">Sample Shading:</div>
					<input data-path="SampleShadingEnable" class="inputCheck" type="checkbox" {{if .SampleShadingEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="MinSampleShading" onmouseenter="showTooltip">Min Sample Shading:</div>
					<input data-path="MinSampleShading" class="input" type="text" value="{{.MinSampleShading}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="AlphaToCoverageEnable" onmouseenter="showTooltip">Alpha To Coverage:</div>
					<input data-path="AlphaToCoverageEnable" class="inputCheck" type="checkbox" {{if .AlphaToCoverageEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="AlphaToOneEnable" onmouseenter="showTooltip">Alpha To One:</div>
					<input data-path="AlphaToOneEnable" class="inputCheck" type="checkbox" {{if .AlphaToOneEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>

				<!-- vkPipelineColorBlendAttachmentState -->
				<hr/>
				<h3>Pipeline Color Blend Attachment</h3>
				{{range $i, $a := .ColorBlendAttachments}}
					<h4>Attachment[{{$i}}]</h4>
					<div class="inputItem">
						<img class="deleteButton" src="textures/minus.png" data-index="{{$i}}" onclick="deleteAttachment" />
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="BlendEnable" onmouseenter="showTooltip">Blend:</div>
						<input data-path="ColorBlendAttachments.{{$i}}.BlendEnable" class="inputCheck" type="checkbox" {{if .BlendEnable}}checked="checked"{{end}} onchange="valueChanged" />
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="SrcColorBlendFactor" onmouseenter="showTooltip">Src Color Blend Factor:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.SrcColorBlendFactor" class="input" value="{{.SrcColorBlendFactor}}" onchange="valueChanged">
						{{range $_, $k := .ListSrcColorBlendFactor}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="DstColorBlendFactor" onmouseenter="showTooltip">Dst Color Blend Factor:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.DstColorBlendFactor" class="input" value="{{.DstColorBlendFactor}}" onchange="valueChanged">
						{{range $_, $k := .ListDstColorBlendFactor}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="ColorBlendOp" onmouseenter="showTooltip">Color Blend Op:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.ColorBlendOp" class="input" value="{{.ColorBlendOp}}" onchange="valueChanged">
						{{range $_, $k := .ListColorBlendOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="SrcAlphaBlendFactor" onmouseenter="showTooltip">Src Alpha Blend Factor:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.SrcAlphaBlendFactor" class="input" value="{{.SrcAlphaBlendFactor}}" onchange="valueChanged">
						{{range $_, $k := .ListSrcAlphaBlendFactor}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="DstAlphaBlendFactor" onmouseenter="showTooltip">Dst Alpha Blend Factor:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.DstAlphaBlendFactor" class="input" value="{{.DstAlphaBlendFactor}}" onchange="valueChanged">
						{{range $_, $k := .ListDstAlphaBlendFactor}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItem">
						<div class="inputLabel" data-tooltip="AlphaBlendOp" onmouseenter="showTooltip">Alpha Blend Op:</div>
						<select data-path="ColorBlendAttachments.{{$i}}.AlphaBlendOp" class="input" value="{{.AlphaBlendOp}}" onchange="valueChanged">
						{{range $_, $k := .ListAlphaBlendOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
						</select>
					</div>
					<div class="inputItemFlags">
						<div class="inputLabel" data-tooltip="ColorWriteMask" onmouseenter="showTooltip">Color Write Mask:</div>
						{{template "flags" ($.ColorWriteMaskFlagState $i $a)}}
					</div>
				{{end}}
				<div class="inputItem">
					<img class="addButton" src="textures/plus.png"  onclick="addAttachment" />
				</div>

				<!-- vkPipelineColorBlendStateCreateInfo -->
				<hr/>
				<h3>Pipeline Color Blend</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="LogicOpEnable" onmouseenter="showTooltip">Logic Op:</div>
					<input data-path="LogicOpEnable" class="inputCheck" type="checkbox" {{if .LogicOpEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="LogicOp" onmouseenter="showTooltip">Logic Op:</div>
					<select data-path="LogicOp" class="input" value="{{.LogicOp}}" onchange="valueChanged">
						{{range $_, $k := .ListLogicOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="BlendConstants" onmouseenter="showTooltip">Blend Constants [4]:</div>
					<input data-path="BlendConstants0" class="input" type="text" value="{{.BlendConstants0}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel"></div>
					<input data-path="BlendConstants1" class="input" type="text" value="{{.BlendConstants1}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel"></div>
					<input data-path="BlendConstants2" class="input" type="text" value="{{.BlendConstants2}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel"></div>
					<input data-path="BlendConstants3" class="input" type="text" value="{{.BlendConstants3}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineDepthStencilStateCreateInfo -->
				<hr/>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthTestEnable" onmouseenter="showTooltip">Depth Test:</div>
					<input data-path="DepthTestEnable" class="inputCheck" type="checkbox" {{if .DepthTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthWriteEnable" onmouseenter="showTooltip">Depth Write:</div>
					<input data-path="DepthWriteEnable" class="inputCheck" type="checkbox" {{if .DepthWriteEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthCompareOp" onmouseenter="showTooltip">Depth Compare Op:</div>
					<select data-path="DepthCompareOp" class="input" value="{{.DepthCompareOp}}" onchange="valueChanged">
						{{range $_, $k := .ListDepthCompareOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthBoundsTestEnable" onmouseenter="showTooltip">Depth Bounds Test:</div>
					<input data-path="DepthBoundsTestEnable" class="inputCheck" type="checkbox" {{if .DepthBoundsTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="StencilTestEnable" onmouseenter="showTooltip">Stencil Test:</div>
					<input data-path="StencilTestEnable" class="inputCheck" type="checkbox" {{if .StencilTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<h4>Front</h4>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="FailOp" onmouseenter="showTooltip">Fail Op:</div>
					<select data-path="FrontFailOp" class="input" value="{{.FrontFailOp}}" onchange="valueChanged">
						{{range $_, $k := .ListFrontFailOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="PassOp" onmouseenter="showTooltip">Pass Op:</div>
					<select data-path="FrontPassOp" class="input" value="{{.FrontPassOp}}" onchange="valueChanged">
						{{range $_, $k := .ListFrontPassOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthFailOp" onmouseenter="showTooltip">Depth Fail Op:</div>
					<select data-path="FrontDepthFailOp" class="input" value="{{.FrontDepthFailOp}}" onchange="valueChanged">
						{{range $_, $k := .ListFrontDepthFailOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="CompareOp" onmouseenter="showTooltip">Compare Op:</div>
					<select data-path="FrontCompareOp" class="input" value="{{.FrontCompareOp}}" onchange="valueChanged">
						{{range $_, $k := .ListFrontCompareOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="CompareMask" onmouseenter="showTooltip">Compare Mask:</div>
					<input data-path="FrontCompareMask" class="input" type="text" value="{{.FrontCompareMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="WriteMask" onmouseenter="showTooltip">Write Mask:</div>
					<input data-path="FrontWriteMask" class="input" type="text" value="{{.FrontWriteMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="Reference" onmouseenter="showTooltip">Reference:</div>
					<input data-path="FrontReference" class="input" type="text" value="{{.FrontReference}}" onchange="valueChanged" />
				</div>
				<h4 data-path="PipelineDepthStencilState::Back">Back</h4>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="FailOp" onmouseenter="showTooltip">Fail Op:</div>
					<select data-path="BackFailOp" class="input" value="{{.BackFailOp}}" onchange="valueChanged">
						{{range $_, $k := .ListBackFailOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="PassOp" onmouseenter="showTooltip">Pass Op:</div>
					<select data-path="BackPassOp" class="input" value="{{.BackPassOp}}" onchange="valueChanged">
						{{range $_, $k := .ListBackPassOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="DepthFailOp" onmouseenter="showTooltip">Depth Fail Op:</div>
					<select data-path="BackDepthFailOp" class="input" value="{{.BackDepthFailOp}}" onchange="valueChanged">
						{{range $_, $k := .ListBackDepthFailOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="CompareOp" onmouseenter="showTooltip">Compare Op:</div>
					<select data-path="BackCompareOp" class="input" value="{{.BackCompareOp}}" onchange="valueChanged">
						{{range $_, $k := .ListBackCompareOp}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="CompareMask" onmouseenter="showTooltip">Compare Mask:</div>
					<input data-path="BackCompareMask" class="input" type="text" value="{{.BackCompareMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="WriteMask" onmouseenter="showTooltip">Write Mask:</div>
					<input data-path="BackWriteMask" class="input" type="text" value="{{.BackWriteMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="Reference" onmouseenter="showTooltip">Reference:</div>
					<input data-path="BackReference" class="input" type="text" value="{{.BackReference}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="MinDepthBounds" onmouseenter="showTooltip">Min Depth Bounds:</div>
					<input data-path="MinDepthBounds" class="input" type="text" value="{{.MinDepthBounds}}" onchange="valueChanged" />
				</div>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="MaxDepthBounds" onmouseenter="showTooltip">Max Depth Bounds:</div>
					<input data-path="MaxDepthBounds" class="input" type="text" value="{{.MaxDepthBounds}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineTessellationStateCreateInfo -->
				<hr/>
				<h3>Pipeline Tessellation</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="PatchControlPoints" onmouseenter="showTooltip">Patch Control Points:</div>
					<select data-path="PatchControlPoints" class="input" value="{{.PatchControlPoints}}" onchange="valueChanged">
						{{range $_, $k := .ListPatchControlPoints}}
							<option value="{{$k}}">{{$k}}</option>
						{{end}}
					</select>
				</div>

				<!-- vkGraphicsPipelineCreateInfo -->
				<hr/>
				<h3>Graphics Pipeline Create</h3>
				<div class="inputItem">
					<div class="inputLabel" data-tooltip="SubpassCount" onmouseenter="showTooltip">Subpass Count:</div>
					<input data-path="SubpassCount" class="input" type="text" value="{{.SubpassCount}}" onchange="valueChanged" />
				</div>
				<div class="inputItemFlags">
					<div class="inputLabel" data-tooltip="ColorWriteMask" onmouseenter="showTooltip">Pipeline Create Flags:</div>
					{{template "flags" ($.PipelineCreateFlagsState)}}
				</div>
				<button class="inputButtonWide" onclick="savePipeline">Save</button>
			</div>
			<div id="ToolTip" class="bottomTooltip">tooltip</div>
		</div>
	</body>
</html>