<!DOCTYPE html>
<html>
	<head>
		<link rel="stylesheet" type="text/css" href="editor/ui/editor_style.css">
		<link rel="stylesheet" type="text/css" href="editor/ui/shader_designer/shader_pipeline_window.css">
	</head>
	<body>
		<div class="fill darkBG noClipY pad5">
			<div class="topFields">
				<h1>Shader Pipeline Editor</h1>
				<div class="inputItem">
					<div class="inputLabel">Path:</div>
					<input id="Path" class="input" type="text" value="{{.Path}}" onchange="pathChanged" />
				</div>

				<!-- vkPipelineInputAssemblyStateCreateInfo -->
				<h3>Pipeline InputAssembly</h3>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Topology:</div>
					<select id="Topology" class="input" value="{{.Topology}}" onchange="valueChanged">
						<option value="Points">Points</option>
						<option value="Lines">Lines</option>
						<option value="Triangles">Triangles</option>
						<option value="Patches">Patches</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Primitive Restart:</div>
					<input id="PrimitiveRestart" class="inputCheck" type="checkbox" {{if .PrimitiveRestart}}checked="checked"{{end}} onchange="valueChanged" />
				</div>

				<!-- vkPipelineRasterizationStateCreateInfo -->
				<h3>Pipeline Rasterization</h3>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Clamp:</div>
					<input id="DepthClampEnable" class="inputCheck" type="checkbox" {{if .DepthClampEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Rasterizer Discard:</div>
					<input id="RasterizerDiscardEnable" class="inputCheck" type="checkbox" {{if .RasterizerDiscardEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Polygon Mode:</div>
					<select id="PolygonMode" class="input" value="{{.PolygonMode}}" onchange="valueChanged">
						<option value="Fill">Fill</option>
						<option value="Line">Line</option>
						<option value="Point">Point</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Cull Mode:</div>
					<select id="CullMode" class="input" value="{{.CullMode}}" onchange="valueChanged">
						<option value="Front">Front</option>
						<option value="Back">Back</option>
						<option value="None">None</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Front Face:</div>
					<select id="FrontFace" class="input" value="{{.FrontFace}}" onchange="valueChanged">
						<option value="CounterClockwise">CounterClockwise</option>
						<option value="Clockwise">Clockwise</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Bias:</div>
					<input id="DepthBiasEnable" class="inputCheck" type="checkbox" {{if .DepthBiasEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Bias Constant Factor:</div>
					<input id="DepthBiasConstantFactor" class="input" type="text" value="{{.DepthBiasConstantFactor}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Bias Clamp:</div>
					<input id="DepthBiasClamp" class="input" type="text" value="{{.DepthBiasClamp}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Bias Slope Factor:</div>
					<input id="DepthBiasSlopeFactor" class="input" type="text" value="{{.DepthBiasSlopeFactor}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Line Width:</div>
					<input id="LineWidth" class="input" type="text" value="{{.LineWidth}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineMultisampleStateCreateInfo -->
				<h3>Pipeline Multisample</h3>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Rasterization Samples:</div>
					<select id="RasterizationSamples" class="input" value="{{.RasterizationSamples}}" onchange="valueChanged">
						<option value="1Bit">1Bit</option>
						<option value="2Bit">2Bit</option>
						<option value="4Bit">4Bit</option>
						<option value="8Bit">8Bit</option>
						<option value="16Bit">16Bit</option>
						<option value="32Bit">32Bit</option>
						<option value="64Bit">64Bit</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Sample Shading:</div>
					<input id="SampleShadingEnable" class="inputCheck" type="checkbox" {{if .SampleShadingEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Min Sample Shading:</div>
					<input id="MinSampleShading" class="input" type="text" value="{{.MinSampleShading}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Alpha To Coverage:</div>
					<input id="AlphaToCoverageEnable" class="inputCheck" type="checkbox" {{if .AlphaToCoverageEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Alpha To One:</div>
					<input id="AlphaToOneEnable" class="inputCheck" type="checkbox" {{if .AlphaToOneEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>

				<!-- vkPipelineColorBlendAttachmentState -->
				<h3>Pipeline Color Blend Attachment</h3>
				{{range $i, $a := .ColorBlendAttachments}}
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Blend:</div>
					<input id="BlendEnable_{{$i}}" class="inputCheck" type="checkbox" {{if .BlendEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Src Color Blend Factor:</div>
					<select id="SrcColorBlendFactor_{{$i}}" class="input" value="{{.SrcColorBlendFactor}}" onchange="valueChanged">
						<option value="Zero">Zero</option>
						<option value="One">One</option>
						<option value="SrcColor">SrcColor</option>
						<option value="OneMinusSrcColor">OneMinusSrcColor</option>
						<option value="DstColor">DstColor</option>
						<option value="OneMinusDstColor">OneMinusDstColor</option>
						<option value="SrcAlpha">SrcAlpha</option>
						<option value="OneMinusSrcAlpha">OneMinusSrcAlpha</option>
						<option value="DstAlpha">DstAlpha</option>
						<option value="OneMinusDstAlpha">OneMinusDstAlpha</option>
						<option value="ConstantColor">ConstantColor</option>
						<option value="OneMinusConstantColor">OneMinusConstantColor</option>
						<option value="ConstantAlpha">ConstantAlpha</option>
						<option value="OneMinusConstantAlpha">OneMinusConstantAlpha</option>
						<option value="SrcAlphaSaturate">SrcAlphaSaturate</option>
						<option value="Src1Color">Src1Color</option>
						<option value="OneMinusSrc1Color">OneMinusSrc1Color</option>
						<option value="Src1Alpha">Src1Alpha</option>
						<option value="OneMinusSrc1Alpha">OneMinusSrc1Alpha</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Dst Color Blend Factor:</div>
					<select id="DstColorBlendFactor_{{$i}}" class="input" value="{{.DstColorBlendFactor}}" onchange="valueChanged">
						<option value="Zero">Zero</option>
						<option value="One">One</option>
						<option value="SrcColor">SrcColor</option>
						<option value="OneMinusSrcColor">OneMinusSrcColor</option>
						<option value="DstColor">DstColor</option>
						<option value="OneMinusDstColor">OneMinusDstColor</option>
						<option value="SrcAlpha">SrcAlpha</option>
						<option value="OneMinusSrcAlpha">OneMinusSrcAlpha</option>
						<option value="DstAlpha">DstAlpha</option>
						<option value="OneMinusDstAlpha">OneMinusDstAlpha</option>
						<option value="ConstantColor">ConstantColor</option>
						<option value="OneMinusConstantColor">OneMinusConstantColor</option>
						<option value="ConstantAlpha">ConstantAlpha</option>
						<option value="OneMinusConstantAlpha">OneMinusConstantAlpha</option>
						<option value="SrcAlphaSaturate">SrcAlphaSaturate</option>
						<option value="Src1Color">Src1Color</option>
						<option value="OneMinusSrc1Color">OneMinusSrc1Color</option>
						<option value="Src1Alpha">Src1Alpha</option>
						<option value="OneMinusSrc1Alpha">OneMinusSrc1Alpha</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Color Blend Op:</div>
					<select id="ColorBlendOp_{{$i}}" class="input" value="{{.ColorBlendOp}}" onchange="valueChanged">
						<option value="Add">Add</option>
						<option value="Subtract">Subtract</option>
						<option value="ReverseSubtract">ReverseSubtract</option>
						<option value="Min">Min</option>
						<option value="Max">Max</option>
						<option value="Zero">Zero</option>
						<option value="Src">Src</option>
						<option value="Dst">Dst</option>
						<option value="SrcOver">SrcOver</option>
						<option value="DstOver">DstOver</option>
						<option value="SrcIn">SrcIn</option>
						<option value="DstIn">DstIn</option>
						<option value="SrcOut">SrcOut</option>
						<option value="DstOut">DstOut</option>
						<option value="SrcAtop">SrcAtop</option>
						<option value="DstAtop">DstAtop</option>
						<option value="Xor">Xor</option>
						<option value="Multiply">Multiply</option>
						<option value="Screen">Screen</option>
						<option value="Overlay">Overlay</option>
						<option value="Darken">Darken</option>
						<option value="Lighten">Lighten</option>
						<option value="Colordodge">Colordodge</option>
						<option value="Colorburn">Colorburn</option>
						<option value="Hardlight">Hardlight</option>
						<option value="Softlight">Softlight</option>
						<option value="Difference">Difference</option>
						<option value="Exclusion">Exclusion</option>
						<option value="Invert">Invert</option>
						<option value="InvertRgb">InvertRgb</option>
						<option value="Lineardodge">Lineardodge</option>
						<option value="Linearburn">Linearburn</option>
						<option value="Vividlight">Vividlight</option>
						<option value="Linearlight">Linearlight</option>
						<option value="Pinlight">Pinlight</option>
						<option value="Hardmix">Hardmix</option>
						<option value="HslHue">HslHue</option>
						<option value="HslSaturation">HslSaturation</option>
						<option value="HslColor">HslColor</option>
						<option value="HslLuminosity">HslLuminosity</option>
						<option value="Plus">Plus</option>
						<option value="PlusClamped">PlusClamped</option>
						<option value="PlusClampedAlpha">PlusClampedAlpha</option>
						<option value="PlusDarker">PlusDarker</option>
						<option value="Minus">Minus</option>
						<option value="MinusClamped">MinusClamped</option>
						<option value="Contrast">Contrast</option>
						<option value="InvertOvg">InvertOvg</option>
						<option value="Red">Red</option>
						<option value="Green">Green</option>
						<option value="Blue">Blue</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Src Alpha Blend Factor:</div>
					<select id="SrcAlphaBlendFactor_{{$i}}" class="input" value="{{.SrcAlphaBlendFactor}}" onchange="valueChanged">
						<option value="Zero">Zero</option>
						<option value="One">One</option>
						<option value="SrcColor">SrcColor</option>
						<option value="OneMinusSrcColor">OneMinusSrcColor</option>
						<option value="DstColor">DstColor</option>
						<option value="OneMinusDstColor">OneMinusDstColor</option>
						<option value="SrcAlpha">SrcAlpha</option>
						<option value="OneMinusSrcAlpha">OneMinusSrcAlpha</option>
						<option value="DstAlpha">DstAlpha</option>
						<option value="OneMinusDstAlpha">OneMinusDstAlpha</option>
						<option value="ConstantColor">ConstantColor</option>
						<option value="OneMinusConstantColor">OneMinusConstantColor</option>
						<option value="ConstantAlpha">ConstantAlpha</option>
						<option value="OneMinusConstantAlpha">OneMinusConstantAlpha</option>
						<option value="SrcAlphaSaturate">SrcAlphaSaturate</option>
						<option value="Src1Color">Src1Color</option>
						<option value="OneMinusSrc1Color">OneMinusSrc1Color</option>
						<option value="Src1Alpha">Src1Alpha</option>
						<option value="OneMinusSrc1Alpha">OneMinusSrc1Alpha</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Dst Alpha Blend Factor:</div>
					<select id="DstAlphaBlendFactor_{{$i}}" class="input" value="{{.DstAlphaBlendFactor}}" onchange="valueChanged">
						<option value="Zero">Zero</option>
						<option value="One">One</option>
						<option value="SrcColor">SrcColor</option>
						<option value="OneMinusSrcColor">OneMinusSrcColor</option>
						<option value="DstColor">DstColor</option>
						<option value="OneMinusDstColor">OneMinusDstColor</option>
						<option value="SrcAlpha">SrcAlpha</option>
						<option value="OneMinusSrcAlpha">OneMinusSrcAlpha</option>
						<option value="DstAlpha">DstAlpha</option>
						<option value="OneMinusDstAlpha">OneMinusDstAlpha</option>
						<option value="ConstantColor">ConstantColor</option>
						<option value="OneMinusConstantColor">OneMinusConstantColor</option>
						<option value="ConstantAlpha">ConstantAlpha</option>
						<option value="OneMinusConstantAlpha">OneMinusConstantAlpha</option>
						<option value="SrcAlphaSaturate">SrcAlphaSaturate</option>
						<option value="Src1Color">Src1Color</option>
						<option value="OneMinusSrc1Color">OneMinusSrc1Color</option>
						<option value="Src1Alpha">Src1Alpha</option>
						<option value="OneMinusSrc1Alpha">OneMinusSrc1Alpha</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Alpha Blend Op:</div>
					<select id="AlphaBlendOp_{{$i}}" class="input" value="{{.AlphaBlendOp}}" onchange="valueChanged">
						<option value="Add">Add</option>
						<option value="Subtract">Subtract</option>
						<option value="ReverseSubtract">ReverseSubtract</option>
						<option value="Min">Min</option>
						<option value="Max">Max</option>
						<option value="Zero">Zero</option>
						<option value="Src">Src</option>
						<option value="Dst">Dst</option>
						<option value="SrcOver">SrcOver</option>
						<option value="DstOver">DstOver</option>
						<option value="SrcIn">SrcIn</option>
						<option value="DstIn">DstIn</option>
						<option value="SrcOut">SrcOut</option>
						<option value="DstOut">DstOut</option>
						<option value="SrcAtop">SrcAtop</option>
						<option value="DstAtop">DstAtop</option>
						<option value="Xor">Xor</option>
						<option value="Multiply">Multiply</option>
						<option value="Screen">Screen</option>
						<option value="Overlay">Overlay</option>
						<option value="Darken">Darken</option>
						<option value="Lighten">Lighten</option>
						<option value="Colordodge">Colordodge</option>
						<option value="Colorburn">Colorburn</option>
						<option value="Hardlight">Hardlight</option>
						<option value="Softlight">Softlight</option>
						<option value="Difference">Difference</option>
						<option value="Exclusion">Exclusion</option>
						<option value="Invert">Invert</option>
						<option value="InvertRgb">InvertRgb</option>
						<option value="Lineardodge">Lineardodge</option>
						<option value="Linearburn">Linearburn</option>
						<option value="Vividlight">Vividlight</option>
						<option value="Linearlight">Linearlight</option>
						<option value="Pinlight">Pinlight</option>
						<option value="Hardmix">Hardmix</option>
						<option value="HslHue">HslHue</option>
						<option value="HslSaturation">HslSaturation</option>
						<option value="HslColor">HslColor</option>
						<option value="HslLuminosity">HslLuminosity</option>
						<option value="Plus">Plus</option>
						<option value="PlusClamped">PlusClamped</option>
						<option value="PlusClampedAlpha">PlusClampedAlpha</option>
						<option value="PlusDarker">PlusDarker</option>
						<option value="Minus">Minus</option>
						<option value="MinusClamped">MinusClamped</option>
						<option value="Contrast">Contrast</option>
						<option value="InvertOvg">InvertOvg</option>
						<option value="Red">Red</option>
						<option value="Green">Green</option>
						<option value="Blue">Blue</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Color Write Mask:</div>
					<input id="ColorWriteMaskR" class="inputCheck" type="checkbox" {{if .ColorWriteMaskR}}checked="checked"{{end}} onchange="valueChanged" />
					<input id="ColorWriteMaskG" class="inputCheck" type="checkbox" {{if .ColorWriteMaskG}}checked="checked"{{end}} onchange="valueChanged" />
					<input id="ColorWriteMaskB" class="inputCheck" type="checkbox" {{if .ColorWriteMaskB}}checked="checked"{{end}} onchange="valueChanged" />
					<input id="ColorWriteMaskA" class="inputCheck" type="checkbox" {{if .ColorWriteMaskA}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				{{end}}

				<!-- vkPipelineColorBlendStateCreateInfo -->
				<h3>Pipeline Color Blend</h3>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Logic Op:</div>
					<input id="LogicOpEnable" class="inputCheck" type="checkbox" {{if .LogicOpEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Logic Op:</div>
					<select id="LogicOp" class="input" value="{{.LogicOp}}" onchange="valueChanged">
						<option value="Clear">Clear</option>
						<option value="And">And</option>
						<option value="AndReverse">AndReverse</option>
						<option value="Copy">Copy</option>
						<option value="AndInverted">AndInverted</option>
						<option value="NoOp">NoOp</option>
						<option value="Xor">Xor</option>
						<option value="Or">Or</option>
						<option value="Nor">Nor</option>
						<option value="Equivalent">Equivalent</option>
						<option value="Invert">Invert</option>
						<option value="OrReverse">OrReverse</option>
						<option value="CopyInverted">CopyInverted</option>
						<option value="OrInverted">OrInverted</option>
						<option value="Nand">Nand</option>
						<option value="Set">Set</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Blend Constants [4]:</div>
					<input id="BlendConstants0" class="input" type="text" value="{{.BlendConstants0}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel"></div>
					<input id="BlendConstants1" class="input" type="text" value="{{.BlendConstants1}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel"></div>
					<input id="BlendConstants2" class="input" type="text" value="{{.BlendConstants2}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel"></div>
					<input id="BlendConstants3" class="input" type="text" value="{{.BlendConstants3}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineDepthStencilStateCreateInfo -->
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Test:</div>
					<input id="DepthTestEnable" class="inputCheck" type="checkbox" {{if .DepthTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Write:</div>
					<input id="DepthWriteEnable" class="inputCheck" type="checkbox" {{if .DepthWriteEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Compare Op:</div>
					<select id="DepthCompareOp" class="input" value="{{.DepthCompareOp}}" onchange="valueChanged">
						<option value="Never">Never</option>
						<option value="Less">Less</option>
						<option value="Equal">Equal</option>
						<option value="LessOrEqual">LessOrEqual</option>
						<option value="Greater">Greater</option>
						<option value="NotEqual">NotEqual</option>
						<option value="GreaterOrEqual">GreaterOrEqual</option>
						<option value="Always">Always</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Bounds Test:</div>
					<input id="DepthBoundsTestEnable" class="inputCheck" type="checkbox" {{if .DepthBoundsTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Stencil Test:</div>
					<input id="StencilTestEnable" class="inputCheck" type="checkbox" {{if .StencilTestEnable}}checked="checked"{{end}} onchange="valueChanged" />
				</div>
				<h4 id="PipelineDepthStencilState::Front">Front</h4>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Fail Op:</div>
					<select id="FrontFailOp" class="input" value="{{.FrontFailOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Pass Op:</div>
					<select id="FrontPassOp" class="input" value="{{.FrontPassOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Fail Op:</div>
					<select id="FrontDepthFailOp" class="input" value="{{.FrontDepthFailOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Compare Op:</div>
					<select id="FrontCompareOp" class="input" value="{{.FrontCompareOp}}" onchange="valueChanged">
						<option value="Never">Never</option>
						<option value="Less">Less</option>
						<option value="Equal">Equal</option>
						<option value="LessOrEqual">LessOrEqual</option>
						<option value="Greater">Greater</option>
						<option value="NotEqual">NotEqual</option>
						<option value="GreaterOrEqual">GreaterOrEqual</option>
						<option value="Always">Always</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Compare Mask:</div>
					<input id="FrontCompareMask" class="input" type="text" value="{{.FrontCompareMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Write Mask:</div>
					<input id="FrontWriteMask" class="input" type="text" value="{{.FrontWriteMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Reference:</div>
					<input id="FrontReference" class="input" type="text" value="{{.FrontReference}}" onchange="valueChanged" />
				</div>
				<h4 id="PipelineDepthStencilState::Back">Back</h4>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Fail Op:</div>
					<select id="BackFailOp" class="input" value="{{.BackFailOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Pass Op:</div>
					<select id="BackPassOp" class="input" value="{{.BackPassOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Depth Fail Op:</div>
					<select id="BackDepthFailOp" class="input" value="{{.BackDepthFailOp}}" onchange="valueChanged">
						<option value="Keep">Keep</option>
						<option value="Zero">Zero</option>
						<option value="Replace">Replace</option>
						<option value="IncrementAndClamp">IncrementAndClamp</option>
						<option value="DecrementAndClamp">DecrementAndClamp</option>
						<option value="Invert">Invert</option>
						<option value="IncrementAndWrap">IncrementAndWrap</option>
						<option value="DecrementAndWrap">DecrementAndWrap</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Compare Op:</div>
					<select id="BackCompareOp" class="input" value="{{.BackCompareOp}}" onchange="valueChanged">
						<option value="Never">Never</option>
						<option value="Less">Less</option>
						<option value="Equal">Equal</option>
						<option value="LessOrEqual">LessOrEqual</option>
						<option value="Greater">Greater</option>
						<option value="NotEqual">NotEqual</option>
						<option value="GreaterOrEqual">GreaterOrEqual</option>
						<option value="Always">Always</option>
					</select>
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Compare Mask:</div>
					<input id="BackCompareMask" class="input" type="text" value="{{.BackCompareMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Write Mask:</div>
					<input id="BackWriteMask" class="input" type="text" value="{{.BackWriteMask}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Reference:</div>
					<input id="BackReference" class="input" type="text" value="{{.BackReference}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Min Depth Bounds:</div>
					<input id="MinDepthBounds" class="input" type="text" value="{{.MinDepthBounds}}" onchange="valueChanged" />
				</div>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Max Depth Bounds:</div>
					<input id="MaxDepthBounds" class="input" type="text" value="{{.MaxDepthBounds}}" onchange="valueChanged" />
				</div>

				<!-- vkPipelineTessellationStateCreateInfo -->
				<h3>Pipeline Tessellation</h3>
				<div class="inputItem" onmouseenter="showTooltip">
					<div class="inputLabel">Patch Control Points:</div>
					<select id="PatchControlPoints" class="input" value="{{.PatchControlPoints}}" onchange="valueChanged">
						<option value="Quads">Quads</option>
						<option value="Triangles">Triangles</option>
						<option value="Lines">Lines</option>
					</select>
				</div>
			</div>
			<div id="ToolTip" class="bottomTooltip">tooltip</div>
		</div>
	</body>
</html>