h2 {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.2em;
}
h3 {
	display: block;
	margin-top: 1em;
	margin-bottom: 0.2em;
	font-weight: bold;
}
hr {
	background-color: #CCC;
}
.menuBar {
	width: 100%;
	height: 20px;
}
.menuBarItem {
	height: 100%;
}
.menuBarItem:hover {
	background-color: #313232;
	color: #CCC;
}
.topFields {
	width: 100%;
	height: calc(80% - 20px);
	overflow-y: scroll;
}
.bottomTooltip {
	width: 100%;
	height: calc(20% - 31px);
	margin-top: 10px;
	overflow-y: scroll;
}
.inputItem {
	width: 100%;
	height: 18px;
	margin-top: 5px;
}
.inputItemFlags {
	width: 100%;
	height: 70px;
	margin-top: 5px;
}
.addButton {
	width: 18px;
	height: 18px;
	background-color: #0A0;
}
.addButton:hover {
	background-color: #0F0;
}
.deleteButton {
	width: 18px;
	height: 18px;
	background-color: #A00;
}
.deleteButton:hover {
	background-color: #F00;
}
.inputButtonWide {
	width: 100%;
	font-size: 16px;
	margin-top: 10px;
	font-weight: bold;
}
.inputLabel {
	width: 30%;
	height: 100%;
}
.input {
	width: 69%;
	height: 100%;
}
.inputFlags {
	width: 69%;
	height: 100%;
	overflow-y: auto;
}
.inputCheck {
	width: 20px;
	height: 20px;
}
.inputCheckLabel {
	margin-left: 5px;
}
h3 {
	margin-top: 15px;
}
.collapseable {
	width: 100%;
	height: 20px;
}
.checkboxListEntry {
	width: 100%;
}
.mainMenu {
	position: absolute;
	width: 50%;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	padding: 10px;
}
.menuBtn {
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	font-size: 1.5em;
}
