.detailsView {
	color: white;
	background-color: #1f1f1f;
}
.nameRow {
	padding: 5px;
	margin-bottom: 10px;
}
.dataInput {
	width: 100%;
	height: 20px;
}
.removableDataInput {
	width: 80%;
	height: 20px;
}
.removeDataInputButton {
	width: 10%;
	height: 20px;
}
.dataTable {
	width: 100%;
	margin-top: 10px;
	padding: 5px;
}
.dataEntry {
	width: 100%;
	margin-bottom: 10px;
}
.dataCheck {
	width: 20px;
	height: 20px;
	margin-left: 5px;
}
